<div flex="100">
    <div layout="row" style="width:90%;margin-left: auto; margin-right: auto; margin-top:3rem">
        <div layout="column" layout-align="start center" flex="50">
            <div ng-repeat="equipmentGroup in equipmentController.equipments1" layout="row"
                 layout-align="center start" layout-fill class="equipment-list__hide-odd">
                <div flex="80" layout-margin layout-padding>
                    <div class="md-whiteframe-z1">
                        <md-toolbar class="md-primary md-hue-2">
                            <h1 class="md-title">{{equipmentGroup.name}}</h1>
                        </md-toolbar>
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item ng-repeat="item in equipmentGroup.items">
                                <div layout-fill layout-padding>
                                    <div flex="95" layout="row">
                                        <span class="md-body-1">{{item}}</span>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="start center" flex="50">
            <div ng-repeat="equipmentGroup in equipmentController.equipments2" layout="row"
                 layout-align="center start" layout-fill class="equipment-list__hide-even">

                <div flex="80" layout-margin layout-padding>
                    <div class="md-whiteframe-z1">
                        <md-toolbar class="md-primary md-hue-2">
                            <h1 class="md-title">{{equipmentGroup.name}}</h1>
                        </md-toolbar>
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item ng-repeat="item in equipmentGroup.items">
                                <div layout-fill layout-padding>
                                    <div flex="95" layout="row">
                                        <span class="md-body-1">{{item}}</span>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
